<div class="card border-primary mb-3">
  <div class="card-header">Clientes</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de clientes</h5>
<div>
  <button [routerLink] = "['/clientes/form']">Crear Persona</button>

  </div>


    <table class= "table talbe-bordered table-striped">
        <thead>
          <tr>
            <th>id</th>
            <th>nombre</th>
            <th>nacimiento</th>
            <th>padre</th>
            <th>madre</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientes">
            <td>{{cliente.id}}</td>
            <td>{{cliente.fullname}}</td>
            <td>{{cliente.birth}}</td>
            <td class="overflow-hidden">
              <div ngbDropdown container="body" >
                   <button class="btn btn-outline-primary btn-sm" ngbDropdownToggle>{{cliente.fatherName}}</button>
                   <div ngbDropdownMenu >
                     <button ngbDropdownItem *ngFor="let adoptar of clientes"
                     (click)="ValidarAdopcion(cliente, adoptar, true)">{{adoptar.fullname}}</button>
                   </div>
                 </div>
            </td>
            <td class="overflow-hidden">
              <div ngbDropdown container="body" >
                   <button class="btn btn-outline-primary btn-sm" ngbDropdownToggle>{{cliente.motherName}}</button>
                   <div ngbDropdownMenu >
                     <button ngbDropdownItem *ngFor="let adoptar of clientes"
                     (click)="ValidarAdopcion(cliente, adoptar, false)">{{adoptar.fullname}}</button>
                   </div>
                 </div>
            </td>
          </tr>
        </tbody>
    </table>
  </div>
</div>
