<div class="card bg-dark text-white">
  <div class= "card-header"> {{titulo}} </div>
  <div class = "card-body">
    <form (ngSubmit) ="create()" #personForm="ngForm">
      <div class ="form-group row">
        <label for="fullname" class="col-form-label col-sm-2">Nombre</label>
        <div class="cold-sm-6">
          <input type="text" class="form-control" [(ngModel)]= "cliente.fullname" name="nombre" required minlength="1" #nombre="ngModel">
          <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
            <div>
              nombre es requerido
            </div>
          </div>
          </div>
      </div>

      <div class ="form-group row">
        <label for="birth" class="col-form-label col-sm-2">Fecha Nacimiento</label>
        <div class="cold-sm-6">
          <input type="date" class="form-control" [(ngModel)]= "cliente.birth" name ="fecha" #fecha="ngModel" (change) ="fechaSeleccionada = true" required >
          <div class="alert alert-danger" *ngIf="fecha.invalid">
            seleccionar fecha
          </div>
          </div>
      </div>


      <div class= "form-group row">
        <div class="col-sm-6">
          <button class="btn btn-primary" role="button" [disabled]="!personForm.form.valid || !fechaSeleccionada">Crear</button>
          </div>
        </div>


      </form>
</div>
